<aside
  id="layout-menu"
  class="layout-menu menu-vertical menu bg-menu-theme"
  [class.collapsed]="isSidebarCollapsed()"
>

  <div class="app-brand demo">
    <a routerLink="/" class="app-brand-link">
      <span class="logo-style"> store </span>
    </a>

    <a
      href="javascript:void(0)"
      class="layout-menu-toggle menu-link text-large ms-auto"
      (click)="toggleSidebar()"
    >
      <i class="bx menu-toggle-icon d-none d-xl-block fs-4 align-middle"></i>
      <i class="bx bx-x d-block d-xl-none bx-sm align-middle"></i>
    </a>
  </div>

  <div class="menu-divider mt-0"></div>

  <div class="menu-inner-shadow"></div>

  <ul class="menu-inner py-1">
    @for (item of visibleMenuItems(); track item.title) {
      <li
        class="menu-item"
        [class.active]="activeMenu() === item.title"
        [class.open]="activeMenu() === item.title"
      >
        @if (item.children?.length && getVisibleChildren(item).length > 0) {
          <button
            type="button"
            class="menu-link menu-toggle w-100 border-0 bg-transparent"
            (click)="toggleMenu(item.title)"
            [attr.aria-expanded]="activeMenu() === item.title"
          >
            @if (item.icon) {
              <i class="menu-icon tf-icons bx" [class]="item.icon"></i>
            }

            <div>
              {{ item.title }}
            </div>
          </button>


          <ul class="menu-sub" [class.show]="activeMenu() === item.title">
            @for (child of getVisibleChildren(item); track child.title) {
              <li class="menu-item" routerLinkActive="active">
                <a [routerLink]="child.route" class="menu-link">
                  @if (child.icon) {
                    <i class="menu-icon tf-icons bx" [class]="child.icon"></i>
                  }

                  <div>
                    {{ child.title }}
                  </div>
                </a>
              </li>
            }
          </ul>
        }

        @else {
          <a
            [routerLink]="item.route"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{
              exact: true,
            }"
            class="menu-link"
          >
            @if (item.icon) {
              <i class="menu-icon tf-icons bx" [class]="item.icon"></i>
            }

            <div>
              {{ item.title }}
            </div>
          </a>
        }
      </li>
    }
  </ul>
</aside>
