<aside
  id="layout-menu"
  class="layout-menu menu-vertical menu bg-menu-theme"
  [class.collapsed]="isSidebarCollapsed"
>
  <div class="app-brand demo">
    <a routerLink="/" class="app-brand-link">
      <span class="logo-style">store</span>
    </a>

    <a
      href="javascript:void(0)"
      class="layout-menu-toggle menu-link text-large ms-auto"
      (click)="toggleSidebar()"
    >
      <i class="bx menu-toggle-icon d-none d-xl-block fs-4 align-middle"></i>
      <i class="bx bx-x d-block d-xl-none bx-sm align-middle"></i>
    </a>
  </div>

  <div class="menu-divider mt-0"></div>

  <div class="menu-inner-shadow"></div>

  <ul class="menu-inner py-1">

    <li
      class="menu-item"
      [class.active]="activeMenu === 'dashboard'"
      [class.open]="activeMenu === 'dashboard'"
    >
      <a
        href="javascript:void(0)"
        class="menu-link menu-toggle"
        (click)="toggleMenu('dashboard')"
      >
        <i class="menu-icon tf-icons bx bx-home-circle"></i>

        <div data-i18n="Dashboards">
          داشبورد
        </div>
      </a>

      <ul
        class="menu-sub"
        [class.show]="activeMenu === 'dashboard'"
      >
        <li class="menu-item">
          <a routerLink="/" class="menu-link">
            <div>صفحه اصلی</div>
          </a>
        </li>

        <li class="menu-item">
          <a routerLink="/settings" class="menu-link">
            <div>تنظیمات</div>
          </a>
        </li>
      </ul>
    </li>

    <!-- کاربران -->
    <li
      class="menu-item"
      [class.active]="activeMenu === 'users'"
      [class.open]="activeMenu === 'users'"
    >
      <a
        href="javascript:void(0)"
        class="menu-link menu-toggle"
        (click)="toggleMenu('users')"
      >
        <i class="menu-icon tf-icons bx bx-user"></i>

        <div data-i18n="Layouts">
          کاربران
        </div>
      </a>

      <ul
        class="menu-sub"
        [class.show]="activeMenu === 'users'"
      >
        <li class="menu-item">
          <a routerLink="/users" class="menu-link">
            <div>لیست کاربران</div>
          </a>
        </li>

        <li class="menu-item">
          <a routerLink="/permissions" class="menu-link">
            <div>دسترسی ها</div>
          </a>
        </li>

        <li class="menu-item">
          <a routerLink="/roles" class="menu-link">
            <div>نقش ها</div>
          </a>
        </li>
      </ul>
    </li>

    <li class="menu-header small text-uppercase">
      <span class="menu-header-text"></span>
    </li>

    <!-- پروفایل -->
    <li class="menu-item">
      <a routerLink="/profile" class="menu-link">
        <i class="menu-icon tf-icons bx bx-user-circle"></i>
        <div>پروفایل</div>
      </a>
    </li>

    <!-- نشست ها -->
    <li class="menu-item">
      <a routerLink="/sessions" class="menu-link">
        <i class="menu-icon tf-icons bx bx-desktop"></i>
        <div>نشست ها</div>
      </a>
    </li>

  </ul>
</aside>
