<app-data-list
  [title]="'کاربران'"
  [description]="'مدیریت و مشاهده کاربران سیستم'"
  [tableTitle]="'لیست کاربران'"
  [loading]="loading()"
  [errorMessage]="errorMessage()"
  [items]="items()"
  [rowCount]="rowCount()"
  [page]="page()"
  [(pageSize)]="pageSize"
  [totalPages]="totalPages()"
  [(searchText)]="searchText"
  [(searchField)]="selectedSearchField"
  [searchFields]="searchFields"
  [(orderField)]="selectedOrderField"
  [(orderDirection)]="selectedOrderDirection"
  [orderFields]="orderFields"
  [isAddable]="true"
  [addRoute]="'/dashboard/users/create'"
  [addPermission]="'usersCreateUser'"
  (search)="search()"
  (clear)="clearSearch()"
  (pageChange)="changePage($event)"
>
  <div class="table-responsive">
    <table class="table table-hover align-middle mb-0">
      <thead>
        <tr>
          <th>#</th>

          <th>نام و نام خانوادگی</th>

          <th>موبایل</th>

          <th>ایمیل</th>

          <th>کد ملی</th>

          <th>وضعیت</th>

          <th>تاریخ ایجاد</th>

          <th class="text-center">عملیات</th>
        </tr>
      </thead>

      <tbody>
        @for (user of items(); track user.id) {
          <tr>
            <td>
              {{ user.id }}
            </td>
            <td>
              <div class="d-flex align-items-center">
                <div class="avatar avatar-sm me-2">
                  <span class="avatar-initial rounded-circle bg-label-primary">
                    {{ user.firstName.charAt(0) }}
                  </span>
                </div>

                <div>
                  <div class="fw-semibold">
                    {{ user.firstName }}
                    {{ user.lastName }}
                  </div>
                </div>
              </div>
            </td>

            <td>
              {{ user.phone || '-' }}
            </td>
            <td>
              {{ user.email || '-' }}
            </td>
            <td>
              {{ user.nationalCode || '-' }}
            </td>
            <td>
              @if (!user.disabled) {
                <span class="badge bg-label-success"> فعال </span>
              } @else {
                <span class="badge bg-label-danger"> غیرفعال </span>
              }
            </td>
            <td>
              {{ user.createdAt | date: 'yyyy/MM/dd HH:mm' }}
            </td>
            <td>
              <div class="d-flex justify-content-center gap-1">
                <app-permission [permission]="'usersGetUserById'">
                  <a
                    [routerLink]="['/dashboard/users/view', user.id]"
                    class="btn btn-sm btn-icon text-primary"
                  >
                    <i class="bx bx-show"></i>
                  </a>
                </app-permission>

                <app-permission [permission]="'usersUpdateUser'">
                  <a
                    [routerLink]="['/dashboard/users/edit', user.id]"
                    class="btn btn-sm btn-icon btn-text-secondary"
                  >
                    <i class="bx bx-edit"></i>
                  </a>
                </app-permission>

                <app-permission [permission]="'usersRemoveUser'">
                  <a (click)="onDelete(user.id)" class="btn btn-sm btn-icon text-danger">
                    <i class="bx bx-trash"></i>
                  </a>
                </app-permission>
                @if (!user.disabled) {
                  <app-permission [permission]="'usersDisableUserById'">
                    <a (click)="onDisable(user.id)" class="btn btn-sm btn-icon text-warning">
                      <i class="bx bx-block"></i>
                    </a>
                  </app-permission>
                } @else {
                  <app-permission [permission]="'usersDisableUserById'">
                    <a (click)="onEnable(user.id)" class="btn btn-sm btn-icon text-success">
                      <i class="bx bx-refresh"></i>
                    </a>
                  </app-permission>
                }
              </div>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</app-data-list>
